*{
  margin: 0;
  padding: 0;
  text-decoration: none;
} 
button{
  cursor: pointer;
}
li{
  list-style: none;
}
.top-section{
  width: 100%;
  height: 130vh;
  position: relative;
}
.top-section::after{
  content: '';
  width: 40%;
  height: 100%;
  position: absolute;
  right:0;
  top : 0;
  background-image: url(../img/nicola.jpg);
  background-position: left;
  background-size: cover;
  z-index: -1;
}
header .brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.brand h1{
  position: relative;
}
.brand h1::before{
  content: '';
  position: absolute;
  width: 300px;
  height: 5px;
  background-color: #000;
}
.brand ul{
  display: flex;
  justify-content: space-around;
  background: #21449C;
  padding: 3px 0;
}
.brand ul li{
  margin: 0 80px;
}
.brand ul li a{
  color: #fff;
  font-family: 'open sans', arial;
  font-weight: bold;
}
.brand ul li a:hover{
  color: #141414;
}
.title{
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
}
.title-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 30px;
}
.title p{
  font-size: 20px;
  line-height: 28px;
  font-family: 'open sans',arial;
  margin: 15px 0;
  color: #757575;
}
.title-content h1{
  color: #21449C;
  font-family: 'EB Garamond';
  font-size:3em;
  font-weight: bold;
}
.title #img{
  display: block;
  width: 50%;
  height: 500px;
  box-shadow: 0px -4px 31px -11px rgba(0,0,0,0.75);
  position: relative;
  z-index: 0;
}

.title #img img{
  width: 100%;
  height: 100%;
  box-shadow: 0px -4px 31px -11px rgba(0,0,0,0.75);
}
.title #img::after{
  content: '';
  position: absolute;
  display: block;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: #000;
  overflow: auto;
  z-index: 1;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  transition: 0.3s;
}
.title #img:hover::after{
  background: none; 
}
.lower-section{
  position: relative;
  top: -20%;
  width: 80%;
  margin: auto;
}
.lower-section .blog{
  background-color: rgb(26, 26, 26);
  padding: 30px;
  box-shadow: 0px -4px 31px -11px rgba(0,0,0,0.75);
  margin: 20px 0;
  display: block;
  transition: 0.3s;
}
.blog:hover{
  background: #21449C;
}
.blog:hover h3{
  color: #141414;
  border-bottom: 0.5px solid #000;
}
.blog:hover .date{
  color: #141414;
}
.blog:hover .author{
  color: #141414;
}
.blog h3{
  color: #fff;
  margin-bottom: 15px;
  font-size: 45px;
  font-family: 'EB Garamond';
  font-weight:600;
  text-align: left;
  border-bottom: 0.5px solid #757575;
  padding-bottom: 15px;
}
.blog p{
  color: #fff;
  font-size: 20px;
  font-weight: light;
  font-family: 'open sans', arial;
  margin: 0;
  line-height: 28px;
}
.blog p a{
  color: #21449C;
}
.blog .author{
  color: #21449C;
}
.blog .details{
  display: flex;
  justify-content: space-between;
  margin: 0;
  /*border-top: 0.5px solid #757575;*/
  padding-top: 10px;
  align-items: center;
}
.details .date{
  color: #757575;
}
.email{
  text-align: center;
  background: #141414;
  padding: 50px;
}
.email p{
  font-family: 'EB Garamond';
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
}
.email form{
  margin: auto;
}
.email form input{
  width: 60%;
  height: 50px;
  padding: 10px ;
  border: none;
  outline: none;
  background-color: #282828;
}
#bbtn{
  padding: 10px;
  border: none;
  width: 80px;
  height: 50px;
  background-color: #21449C;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  font-family: 'open sans';
}
#bbtn:hover{
  background-color: #0E3088;
}
footer{
  padding: 10px;
  text-align: center;
  background: #000;
  color: #fff;
  font-family: 'open sans', arial;
  font-size: 12px;
  letter-spacing: 3px;
}

/* the form */
.form{
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.form #image{
  margin: 20px 0;
}
.form #the-title{
  height: 50px;
  width: 500px;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  margin-bottom: 20px;
  padding: 10px;
}
.form #the-author{
  height: 50px;
  width: 500px;
  border-bottom: 2px solid #c4c4c4;
  margin-bottom: 20px;
  padding: 10px;
}
.form textarea{
  width: 100%;
  height: 200px;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  margin-bottom: 20px;
  padding: 10px;
}
.form button{
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #21449C;
  color: #fff;
  font-weight: bold;
  height: 80px;
  font-size: 2em;
  font-family: 'open sans',arial;
}
.form button:hover{
    background-color: #0E3088;
}

/* article page*/
.blog-pic{
  width: 80%;
  margin: 50px auto;
  height: 80vh;
}
.blog-pic img{
  width: 100%;
  height: 100%;
}
.blog-pic #written-by{
  font-family: 'open sans',arial;
  font-style: italic;
  margin: 10px 0;
  font-size: 15px;
  color: #21449C;
}
.article{
  width: 60%;
  margin: 50px auto;
}
.article #article-title{
  font-size: 3.5em;
  font-family: 'EB Garamond', serif;
  font-weight: bolder;
  margin: 30px 0;
}
.article p{
  font-size: 18px;
  line-height: 28px;
  font-family: 'open sans',arial;
  margin: 15px 0;
}

/*sign up*/
.sign-up{
  width: 100%;
  min-height: 100vh;
  position: relative;
 
}
.sign-up form{
  display: flex;
  flex-direction: column;
  box-shadow: 0px -4px 31px -11px rgba(0,0,0,0.75);
  padding: 50px 20px;
  width: 70%;
  height: 60%;
  background: #21449C;
}
.sign-up form h1{
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 3.5em;
}
.sign-up form input{
 margin: 5px 0;
 height: 50px;
 padding: 10px;
 border: none;
}
.sign-up form button{
  margin: 5px 0;
  height: 70px;
  padding: 10px;
  border: none;
  font-family: 'open sans', arial;
  font-size: 25px;
 }
 .sign-up form button:hover{
  background-color: #141414;
  color: #fff;
 }
 /* About*/
 .contact{
   width: 80%;
   margin: 30px auto;
 }
 .contact-intro h1{ 
    font-size: 4em;
 }
 .contact-intro p{ 
  font-size: 20px;
  font-size: 'open sans', arial;
  color: #757575;
  line-height: 27px;
  width: 90%;
}
.contact-form{
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.contact-form form{
  display: flex;
  flex-direction: column;
}
.contact-form div h3{
  font-size: 3em;
  padding: 30px;
  position: relative;
  font-family: 'EB Garamond';
}
.contact-form div h3::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 10px;
  background-color: #000;
  margin-left: 30px;
}
.contact-form form{
  background: #21449C;
  padding: 10px 20px;
}
.contact-form form input{
  padding: 10px 15px;
  height: 50px;
  margin: 10px 0;
  width: 400px;
  border: none;
}
.contact-form form textarea{
  padding: 10px 15px;
  margin: 10px 0;
}
.contact-form form button{
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: 27px;
  font-weight: bolder;
  padding: 10px 0;
  background-color: #141414;
  border: none;
  margin: 10px 0;
}
.contact-form form button:hover{
  background-color: #fff;
  color: #21449C;
}
.contact-form form h3{
  font-size: 25px;
  padding: 10px;
  color: #fff;
}
.contact-form div .welcome p{
  padding: 30px ;
  font-size: 17px;
  font-family: 'open sans', arial;
  color: #757575;
}
.login-form{
  width:100%;
  min-height: 100px;
  background-color: #141414;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form form{
  display: flex;
  justify-content: center;
}
.login-form form input{
  margin: 0 10px;
  background-color: #282828;
  border: none;
  height: 60px;
  width: 300px;
  padding: 0 10px;
}
.login-form form button{
    padding: 10px;
    border: none;
    width: 80px;
    height: 60px;
    background-color: #21449C;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    font-family: 'open sans',arial;
  }
  .login-form form button:hover{
    background-color: #0E3088;
  }
@media only screen and (max-width: 767px){
  .brand h1{
    position: relative;
  }
  .brand h1::before{
    width: 100px;
  }
  .brand ul li{
    margin: 0 20px;
  }
  .top-section{
    height: 100vh;
  }
  .title{
    width: 90%;
  }
  .title-content{
    width: 100%;
  }
  .title h1{
    font-size: 3em;
  }
  .top-section::after{
    display: none;
  }
  .lower-section{
    position: relative;
    top: 0%;
  }
  .title #img{
    display: none;
  }
  .blog h3{
    font-size: 40px;
  }

  /* the form */
  .form #the-title{
    width: 100%;
  }
  .form #the-author{
    width: 100%;
  }

  /*article page*/
  .blog-pic{
    width: 100%;
    height: 400px;
  }
  .blog-pic #written-by{
    margin: 10px;
  }
  .article{
    width: 80%;
    margin: 50px auto;
  }
  .article #article-title{
    font-size: 2.5em;
  }
  .article p{
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0;
  }

  /* sign up*/
  .sign-up form{
    width: 90%;
    margin: auto;
  }

  .contact-intro h1{ 
    font-size: 3em;
    margin: 20px 0;
 }
 .contact-intro p{ 
  font-size: 18px;
  line-height: 28px;
  font-family: 'open sans', arial;
}
.contact-form{
  flex-direction: column;
  width: 80%;
}
.contact-form form{
  margin: 50px 0 ;
  width: 100%;
}
.contact-form form input{
  width: 100%;
}

.login-form{
  padding: 30px 0;
}
.login-form form{
  display: flex;
 flex-direction: column;
 padding: 20px 0;
 width:80%;
}
.login-form form input{
  width: 100%;
  margin: 10px 0;
}
.login-form form button{
    margin: 5px 0;
    width: 100%;
  }
}
